body{
margin: 10px;
}

.Header{
  display: flex;
  justify-content: center;
}

.Header2{
  display: flex;
  justify-content: start;
  margin: 10px;
}

.form{
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  width: 100px;
}